<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="description" content="{{or .Params.description .Site.Params.description}}" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>{{ .Title }}</title>
    {{ range .Site.Params.custom_css -}} <link rel="stylesheet" href="{{ (resources.Get "css/style.css").RelPermalink }}"> {{- end }} {{ partial "favicon" . }}
  </head>
  <body>
    <div class="container">{{ partial "navbar" . }} {{ block "main" . }} {{ end }} {{ partial "footer" . }}</div>
    <!-- <script src="/js/app.js"></script> -->
    <script src="/js/theme-toggle.js"></script>
    <script src="/js/font-selector.js"></script>
    <script src="/js/search.js"></script>
    <script src="/js/button.js"></script>
    <script src="/js/dropdown.js"></script>
    
  </body>
</html>
